:root {
    --bg-green-soft: #003c7573;
    --inter: "Inter", sans-serif;
    --poppins: "Poppins", sans-serif;
}

.bg-green-soft {
    background-color: var(--bg-green-soft);
}

.w-200px {
    max-width: 200px;
    text-wrap: wrap;
}

.container-beranda {
    margin-right: 100px;
    margin-left: 100px;
}

.container-beranda .navbar {
    margin-top: 80px;
}

nav.navbar .company-name {
    color: #1e1e1e;
    font-family: var(--inter);
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    max-width: 117px;
    text-wrap: wrap;
}

.beranda .left .content {
    max-width: 585px;
}

.beranda .left h1 {
    color: #003d75;
    font-family: var(--inter);
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 80px;
}

.beranda .left p.tagline {
    color: #000;
    font-family: var(--inter);
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 20px;
}

.beranda .left a {
    color: #fff;
    text-align: center;
    font-family: var(--poppins);
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 80px;
}

.beranda .left p.warning {
    color: #003d75;
    font-family: var(--poppins);
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 20px;
}

.beranda .right {
    padding-left: 200px;
}

.hitung-mundur .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 20px;

    background: rgba(255, 255, 255, 0.25);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border: 1px solid rgba(255, 255, 255, 0.41);
}

.hitung-mundur p.highlight {
    color: #fff;
    font-family: var(--poppins);
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.hitung-mundur .card span {
    color: #000;
    font-family: var(--poppins);
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 40px */
}

.hitung-mundur .card h5 {
    margin-top: 10px;
    color: #000;
    font-family: var(--poppins);
    font-size: 120px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    margin-bottom: 0;
}

.hitung-mundur .card.peserta {
    padding: 65px 20px;
}

.hitung-mundur .card.peserta span {
    font-size: 30px;
    font-weight: 700;
}

.hitung-mundur .card.peserta h5 {
    font-size: 140px;
}

footer {
    color: #003D75;
    text-align: center;
    font-family: var(--poppins);
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

footer img {
    margin-left: 20px;
}

.registration .wizard-form {
    width: 40%;
    padding: 40px;
}

.registration .wizard-form h4 {
    text-align: center;
    color: #003d75;
    text-align: center;
    font-family: var(--inter);
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.registration .card.wizard-form {
    border-radius: 20px;
}

.registration .card.wizard-form .form-label {
    color: #000;
    font-family: var(--poppins);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.registration .card.wizard-form .form-control,
.registration .card.wizard-form .form-select {
    color: #909090;
    font-family: var(--poppins);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 7px 10px;
    border-radius: 10px;
}

.registration .total-container {
    padding-left: 55%;
    padding-right: 40px;
}
.registration .total-container .detail {
    display: flex;
    gap: 32px;
    justify-content: end;
    align-items: end;
    margin-bottom: 10px;
}

.registration .total-container .line {
    margin-top: 26px;
    margin-bottom: 26px;
    background: #e2e2e6;
    height: 2px;
    width: 100%;
}

.line-2 {
    width: 100%;
    height: 2px;
    background: rgba(0, 0, 0, 0.2);
}

.registration .total-container .detail p {
    text-align: end;
}

.registration .payment h5 {
    color: #000;
    font-family: var(--poppins);
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.registration .payment .subtitle {
    color: #000;
    font-family: var(--poppins);
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.registration .payment table,
.registration .payment .total-container,
.registration .payment-detail .bank,
.registration .payment-detail .tagihan {
    color: rgba(58, 53, 65, 0.87);
    font-family: var(--poppins);
    font-size: 14px;
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0.17px;
}

.registration .payment table thead,
.registration .payment-detail .bank .row,
.registration .payment-detail .tagihan .row {
    font-weight: 600;
}

.registration .payment-detail .bank .row,
.registration .payment-detail .tagihan .row {
    font-weight: 600;
    font-size: 16px;
}

.registration .payment table tbody,
.registration .payment .total-container,
.registration .payment-detail .bank span,
.registration .payment-detail .tagihan span {
    font-weight: 500;
}

.registration .payment-detail .bank .row .text-end a,
.registration .payment-detail .tagihan .row .text-end a {
    color: #003d75;
    cursor: pointer;
}

.input-number {
    text-align: center;
}

.btn-number {
    color: #909090;
    font-family: var(--poppins);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 7px 10px;
    border-radius: 0;
    background: white;
}

.warning-text {
    color: #f00;
    font-family: var(--poppins);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.repeater-form {
    border-top: 2px solid rgba(0, 0, 0, 0.2);
}

.repeater-form h5 {
    color: #000;
    font-family: var(--poppins);
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.btn-number.minus {
    border-top-left-radius: 10px;
    border-end-start-radius: 10px;
}

.btn-number.plus {
    border-top-right-radius: 10px;
    border-end-end-radius: 10px;
}

.f1-steps {
    overflow: hidden;
    position: relative;
    margin-top: 20px;
}

.f1-progress {
    position: absolute;
    top: 24px;
    left: 0;
    width: 100%;
    height: 1px;
    background: #ddd;
}

.f1-progress-line {
    position: absolute;
    top: 0;
    left: 0;
    height: 1px;
    background: #003d75;
}

.f1-step {
    position: relative;
    float: left;
    width: 33.3%;
    padding: 0 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-family: var(--poppins);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.f1-step-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-top: 4px;
    background: #ddd;
    font-size: 16px;
    color: #fff;
    line-height: 40px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.f1-step.activated .f1-step-icon {
    background: #fff;
    border: 1px solid #003d75;
    color: #003d75;
    line-height: 38px;
}

.f1-step.active .f1-step-icon {
    width: 48px;
    height: 48px;
    margin-top: 0;
    background: #003d75;
    font-size: 22px;
    line-height: 48px;
}

.f1-step p {
    color: #ccc;
}

.f1-step.activated p {
    color: #003d75;
}

.f1-step.active p {
    color: #003d75;
}

.f1 fieldset {
    display: none;
    text-align: left;
}

.f1-buttons {
    text-align: center;
    margin-top: 20px;
    color: #fff;
    text-align: center;
    font-family: var(--poppins);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.f1 .input-error {
    border-color: #f35b3f;
}

.modal .container-btn {
    display: flex;
    background: white;
    position: absolute;
    top: 10px;
    right: -54px;
    border-radius: 50%;
    padding: 5px;
}

.modal .btn-close {
    text-align: center;
    font-family: var(--poppins);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.modal-backdrop {
    background-color: rebeccapurple;
}
/*
.modal-backdrop {
    backdrop-filter: blur(9px);
    background: rgba(255, 255, 255, 0.2);
} */

.table-responsive {
    overflow-x: auto;
    overflow-y: hidden;
}

.tickets h5 {
    color: #003D75;
    text-align: center;
    font-family: var(--inter);
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.tickets .detail {
    color: #000;
    font-family: var(--poppins);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: right;
}

.tickets .nama-acara {
    color: #003D75;
    font-family: var(--poppins);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.tickets .row{
    margin-top: 50px;
}

.w-20 {
    max-width: 30%;
    width: 30%;
    text-wrap: wrap;
}

.dataTables_paginate {
    padding-bottom: 30px;
}

.btn-verify {
    color: #003D75;
    font-size: 30px;
}

#btn-registrasi {
    background-color: #20A9FB;
    border-color: #20A9FB;
}

.poster {
    display: none;
    padding: 10px;
    margin-left: 30px;
    margin-right: 30px;
}

@media (max-width: 576px) {
    .container-beranda {
        margin-right: 0;
        margin-left: 0;
    }

    .container-beranda .navbar {
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .container-beranda .navbar-brand {
        gap: 5px!important;
    }


    .container-beranda .navbar-brand img {
        width: 80px;
        height: 80px;
    }

    nav.navbar .company-name {
        font-weight: 700;
        font-size: 20px;
    }

    .container-beranda .beranda .content {
        margin-left: 30px;
        max-width: 75%;
    }

    .container-beranda .beranda h1{
        font-size: 33px;
        margin-top: 30px;
    }

    .container-beranda .beranda p.tagline {
        font-size: 18px;
        margin-top: 10px;
    }

    .container-beranda .beranda a.btn {
        font-size: 18px;
        margin-top: 20px;
    }

    .container-beranda .beranda p.warning {
        font-size: 14px;
        margin-left: 10px;
    }

    .beranda .right {
        padding-left: 40px;
        padding-right: 40px;
        margin-top: 20px;
    }

    .hitung-mundur p.highlight {
        font-size: 18px;
        color: #003D75;
    }

    .hitung-mundur .card span,
    .hitung-mundur .card.peserta span {
        font-size: 15px;
    }

    .hitung-mundur .card h5 {
        font-size: 25px;
    }

    .hitung-mundur .card.peserta {
        padding: 16px 5px;
    }

    .hitung-mundur .card.peserta h5 {
        font-size: 30px;
    }

    .hitung-mundur .card {
        margin-bottom: 10px;
        border-radius: 10px;
    }

    footer {
        text-align: center;
        font-size: 18px;
        margin-bottom: 15px;
    }

    footer img {
        width: 61px;
        height: 32px;
    }

    .modal .container-btn {
        display: flex;
        background: white;
        position: absolute;
        top: -50px;
        right: 0;
        border-radius: 50%;
        padding: 5px;
    }

    .registration {
        margin-right: 15px;
        margin-left: 15px;
    }

    .registration .wizard-form {
        width: 100%;
        padding: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .registration .wizard-form h4 {
        font-size: 25px;
    }

    .registration .card.wizard-form .form-label {
        font-size: 14px;
    }

    .registration .card.wizard-form .form-control, .registration .card.wizard-form .form-select {
        font-size: 16px;
    }

    .f1-buttons {
        font-size: 16px;
    }

    .poster {
        display: inline-block;
    }

    .tickets h5 {
        font-size: 35px;
    }

    .tickets .detail {
        font-size: 16px;
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
    }

    .tickets .row{
        margin-top: 10px;
        display: flex;
    }

    .tickets .qrcodes {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }
}


/* Small devices (tablets) */
@media (min-width: 576px) and (max-width: 767.98px) {
    body {
        font-size: 15px;
        overflow-x: hidden!important;
    }
}
